
<div class="right">
    <form method="get" action="<%= url %>">
        <input type="text" name="search" value="<%= locals.search || '' %>" placeholder="question to search" autocomplete="off" />
        <input type="submit" value="Search">

        <% if (locals.loginUser) { %>
            <br/>

            <div>
                <label>Solo favoritos:</label>
                <input type="checkbox" name="searchfavourites"
                       value="1" <%= locals.searchfavourites ? 'checked' : '' %> >
                <img class="star" src="/images/star_yellow.png" \>
            </div>
        <% } %>

    </form>
</div>

<h1>
    <%= title || "Quizzes" %>:
</h1>

<% include ../favourites/_star_onclick.ejs %>

<table id="quizzesIndex">
    <% for (let quiz of quizzes) { %>
        <tr>
            <td>
                <% include ../attachments/_attachment %>
            </td>

            <td>
                <% include ../favourites/_star.ejs %>

                <a href="/quizzes/<%= quiz.id %>/play"><%= quiz.question %></a>
            </td>

            <td>
                <% include ../attachments/_miniphoto %>
                <br/>

                <small> <%= quiz.author ? quiz.author.displayName : "Anonymous" %> </small>

                <br/>

                <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id === quiz.authorId)) { %>
                    <a href="/quizzes/<%= quiz.id %>" class="button">Show</a>

                    <a href="/quizzes/<%= quiz.id %>/edit" class="button">Edit</a>
                    <a href="/quizzes/<%= quiz.id %>?_method=DELETE"
                       onClick="return confirm('Delete: <%= quiz.question %>');"
                       class="button">Delete</a>
                <% } %>
            </td>
        </tr>
    <% } %>
</table>

<% if (locals.loginUser) { %>
    <a href="/quizzes/new" class="button">Create New Quiz</a>
<% } %>